CREATE TABLE IF NOT EXISTS public.holidays (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc', now())
);
CREATE OR REPLACE FUNCTION public.get_next_business_day(start_date DATE)
RETURNS DATE AS \$\$
DECLARE
    next_date DATE;
    is_holiday BOOLEAN;
    dow INTEGER;
BEGIN
    next_date := start_date;
    LOOP
        -- Check if weekend (0=Sun, 6=Sat)
        dow := EXTRACT(DOW FROM next_date);
        
        -- Check if holiday
        SELECT EXISTS(SELECT 1 FROM public.holidays WHERE date = next_date) INTO is_holiday;
        
        IF (dow = 0 OR dow = 6 OR is_holiday) THEN
            next_date := next_date + INTERVAL '1 day';
        ELSE
            EXIT; -- Found a business day
        END IF;
    END LOOP;
    RETURN next_date;
END;
\$\$ LANGUAGE plpgsql;
